gource
gource.exe
gource.depend
gource.layout
debug.log
Makefile
*.dll
logs/*
/config.log
/config.status
*~
*.swp
*.d
*.ncb
*.suo
*.obj
*.ilk
*.exp
*.res
*.manifest
*.dep
*.idb
*.pdb
*.user
BuildLog.htm
